<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a href="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="./public/assets/images/logo.svg" alt="" height="22" />
          </span>
          <span class="logo-lg">
            <img
              src="./public/assets/images/logo-dark.png"
              alt=""
              height="17"
            />
          </span>
        </a>

        <a href="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="public/assets/images/logo-light.svg" alt="" height="22" />
          </span>
          <span class="logo-lg">
            <img src="public/assets/images/logo-light.png" alt="" height="19" />
          </span>
        </a>
      </div>

      <button
        type="button"
        class="btn btn-sm px-3 font-size-16 header-item waves-effect"
        id="vertical-menu-btn"
      >
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>
  </div>
</header>
